<div class="col-md-2 sidebar">
	<ul>
		<li class="active">
			<%= link_to "Posts", posts_admin_panel_url %>
			<%= link_to new_post_admin_panel_url, class: 'btn btn-info btn-xs pull-right' do %>
				<span class="glyphicon glyphicon-pencil"></span>
			<% end %>
		</li>
		<li><a href="#">Account</a></li>
		<li><a href="#">Users</a></li>
		<li><a href="#">Settings</a></li>
	</ul>
</div>