<%= render 'header' %>

<div class="container-fluid page">
	<div class="row">
		<%= render partial: 'sidebar', locals: { active: 'posts' } %>
		<div class="col-sm-10">
			<div class="content">
				<%= form_for @post, url: save_post_admin_panel_url do |form| %>
					<div id="md-editor" data-target="post_content" data-content="" data-title=""></div>
					<%= form.submit "Save Post", class: 'btn btn-success' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
